// src/pages/About/About.module.scss
@use 'styles/abstracts' as *;

.about {
  padding: var(--spacing-lg) var(--spacing-sm);
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding: var(--spacing-xl) var(--spacing-lg);
  }
}

.about__content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
}

.about__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  width: 100%;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-xl);
  }
}

.about__photoContainer {
  position: relative;
  width: 100%;
  max-width: 350px;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: var(--box-shadow-hover-md);
  flex-shrink: 0;
  flex-grow: 1;
}

.about__photoContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg,
      rgba(0, 123, 255, 0.1),
      rgba(23, 162, 184, 0.1));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about__photoContainer:hover::after {
  opacity: 1;
}

.about__photo {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.about__photo:hover {
  transform: scale(1.05);
  filter: saturate(1.2);
}

.about__textContainer {
  font-size: var(--font-size-base);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
  text-align: center;
  flex-grow: 2;

  @media (min-width: 992px) {
    align-items: flex-start;
    text-align: left;
  }
}

.about__summary {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  line-height: 1.6;
  max-width: 75ch;

  @media (min-width: 992px) {
    text-align: left;
  }
}


.about__subHeading {
  margin-top: var(--spacing-xl);
  margin-bottom: 0;
  //color: var(--color-brand-primary);
}