//src/components/previews/SkillsPreview/SkillsPreview.module.scss
@use 'styles/abstracts' as *;

.skillsPreview {
  padding: var(--spacing-lg) var(--spacing-sm);
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: var(--spacing-md);

  @media (min-width: 768px) {
    padding: var(--spacing-xl) var(--spacing-md);
  }
}

.skillsPreview__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.skillsPreview__heading {
  animation: slideInFromTop 0.8s ease-out forwards;
}

.skillsPreview__description {
  max-width: 80ch; // Optimal line length for readability
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.6; // Improved readability via WCAG guidelines
  color: var(--color-text-secondary);
}

.skillsPreview__list {
  // Use flexbox for centering behavior with wrapping items
  display: flex;
  flex-wrap: wrap; // Allows items to wrap onto the next line
  justify-content: center; // Centers items on the main axis (horizontally)
  gap: var(--spacing-sm);
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  gap: var(--spacing-md);

  // Set initial state for animations, which will be triggered by '.inView'
  & > * {
    opacity: 0;
    transition: transform 0.3s ease;
  }
}

// Add animations when the '.inView' class is applied by the Intersection Observer
.inView {
  & > * {
    animation: fadeIn 1s ease-out forwards;
    
    // Staggered fade-in animation using a loop for a cleaner approach
    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        // Start animation-delay at 0.6s and increase by 0.1s for each child
        animation-delay: 0.5s + ($i * 0.1s);
      }
    }

  }
}


// Keyframe Animations
@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
