// src/layouts/Navigation/DesktopNav/DesktopNav.module.scss

@use 'src/styles/abstracts' as *;

.desktopNav {
  display: flex;
  align-items: center;

  // Use a media query to hide this component on mobile, deferring to the MobileNav
  @media (max-width: 768px) {
    display: none;
  }
}

.desktopNav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--spacing-lg); // Consistent spacing between navigation items
}

.desktopNav__link {
  display: flex;
  align-items: center;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  color: var(--nav-text);

  text-decoration: none;
  //text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  padding: var(--spacing-xxs) 0;

  transition:
    color 0.3s ease,
    color var(--color-transition);

  // Underline effect on hover and focus for better UI/UX
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--nav-link-hover);
    transition: width 0.3s ease;
  }

  &:hover,
  &:focus {
    color: var(--nav-link-hover);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  // Active link state
  &--active {
    color: var(--nav-link-active);

    &::after {
      width: 100%;
      background-color: var(--nav-link-active);
    }
  }
}

.desktopNav__icon {
  font-size: var(--font-size-lg);
  margin-right: var(--spacing-xs);
}