//src/components/Hero/Hero.module.scss

@use 'styles/abstracts' as *;

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-xl) var(--spacing-sm);
  text-align: center;
  min-height: 80vh;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: var(--spacing-xl) var(--spacing-md);
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  order: 2;

  @media (min-width: 768px) {
    order: 1;
  }
}

.heroTitle {
  color: var(--color-brand-primary);
   transition: color var(--color-transition);
  animation: slideInLeft 0.8s ease-out forwards;
  border: none;
}

.heroSubtitle {
  animation: slideInLeft 0.8s ease-out 0.2s forwards;
}

.heroDescription {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  line-height: 1.6;
  max-width: 75ch;
  margin-bottom: var(--spacing-lg);

  animation: slideInUp 0.8s ease-out 0.4s forwards;

  @media (min-width: 768px) {
    max-width: none;
  }
}

.ctaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-sm);

  animation: fadeIn 1s ease-in-out 0.6s forwards;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.heroImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;

  @media (min-width: 768px) {
    order: 2;
    padding-left: var(--spacing-lg);
  }
}

.profileImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;

  animation: float 3s ease-in-out infinite;

  @media (min-width: 768px) {
    width: 350px;
    height: 350px;
  }
}

img {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .profileImage {
    animation: none;
  }
}

