// src/styles/Projects.module.scss
//@use 'styles/abstracts' as a;

.projects {
  /* Box model */
  padding: var(--spacing-xl) var(--spacing-md);
  
  /* Theming */
  background-color: var(--hero-bg);
}

.projects__header {
  /* Layout */
  text-align: center;
  
  /* Spacing */
  margin-bottom: var(--spacing-xl);
}

.projects__title {
  /* Typography */
  font-family: var(--font-family-headings);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--hero-text);
  
  /* Spacing */
  margin: 0;
}

.projects__list {
  /* Layout */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
  /* Spacing */
  gap: var(--spacing-lg);
  
  /* Styling */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* The .projects__item ruleset has been removed as it is not needed */

@media (max-width: 768px) {
  .projects__header {
    margin-bottom: var(--spacing-lg);
  }
}
