@use 'styles/abstracts' as a;

.projects-card {
  /* Box model */
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  
  /* Theming */
  background-color: var(--card-bg);
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  
  /* Animation */
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.projects-card__image-container {
  /* Layout */
  width: 100%;
  height: 200px; /* Or a fixed aspect ratio like padding-top: 56.25%; */
  overflow: hidden;
}

.projects-card__image {
  /* Layout */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-card__content {
  /* Spacing */
  padding: var(--spacing-md);
}

.projects-card__title {
  /* Typography */
  font-family: var(--font-family-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--card-text);
  
  /* Spacing */
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}

.projects-card__description {
  /* Typography */
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  line-height: 1.5;
  
  /* Spacing */
  margin-bottom: var(--spacing-md);
}

.projects-card__tech-list {
  /* Layout */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
  /* Spacing */
  margin: 0;
  padding: 0;
  gap: var(--spacing-xs);
}

.projects-card__tech-item {
  /* Theming */
  color: var(--button-text-primary-hover);
  background-color: var(--button-bg-primary-hover);
  
  /* Box model */
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--button-border-radius);
  
  /* Typography */
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}

.projects-card__actions {
  /* Layout */
  display: flex;
  //flex-wrap: wrap;
  
  /* Spacing */
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
}