@use 'styles/abstracts' as a;

.projects-card {
  /* Box model */
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  
  /* Theming */
  background-color: var(--card-bg);
  border: var(--card-border);
  box-shadow: var(--card-box-shadow);
  
  /* Animation */
  transition: transform 0.3s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.projects-card__image-container {
  /* Layout */
  width: 100%;
  height: 200px; /* Or a fixed aspect ratio like padding-top: 56.25%; */
  overflow: hidden;
}

.projects-card__image {
  /* Layout */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-card__content {
  /* Spacing */
  padding: var(--spacing-md);
}

.projects-card__title {
  /* Typography */
  font-family: var(--font-family-headings);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--card-text);
  
  /* Spacing */
  margin-top: 0;
  margin-bottom: var(--spacing-xs);
}

.projects-card__description {
  /* Typography */
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
  line-height: 1.5;
  
  /* Spacing */
  margin-bottom: var(--spacing-md);
}

.projects-card__tech-list {
  /* Layout */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
  /* Spacing */
  margin: 0;
  padding: 0;
  gap: var(--spacing-xs);
}

.projects-card__tech-item {
  /* Theming */
  color: var(--button-text-primary);
  background-color: var(--button-bg-primary);
  
  /* Box model */
  padding: var(--spacing-xxs) var(--spacing-xs);
  border-radius: var(--button-border-radius);
  
  /* Typography */
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}

.projects-card__actions {
  /* Layout */
  display: flex;
  flex-wrap: wrap;
  
  /* Spacing */
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);
}

.projects-card__button {
display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  transition: var(--button-transition), transform 0.3s ease;
  box-shadow: var(--button-box-shadow);
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  /* min-width: 300px;
  min-height: 50px; */
  border: 2px solid;

  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-advanced);
  }

  &:focus-visible {
  outline: 2px solid var(--color-brand-primary);
  outline-offset: 2px;
  }
}

.projects-card__button--live {
  background-color: transparent;
  color: var(--color-brand-primary);
  border-color: var(--color-brand-primary);

  &:hover,
  &:focus {
    background-color: var(--button-bg-primary-hover);
    color: var(--button-bg-secondary-hover);
    border-color: var(--button-bg-secondary-hover);
  }
}

.projects-card__button--repo {
   background-color: transparent;
  color: var(--button-text-secondary);
  border-color: var(--button-text-secondary);

  &:hover,
  &:focus {
    background-color: var(--color-text-secondary);
    color: var(--button-text-primary);
    border-color: var(--button-text-primary);
  }
}
