// src/components/Heading/Heading.module.scss
@use 'styles/abstracts' as *;

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto var(--spacing-sm) auto; // Adjust margin for mobile-first
  position: relative;
  width: fit-content;

  // Use 100% width for left/right alignment
  &.textAlign--left, &.textAlign--right {
    width: 100%;
  }

  // Adjust margin for larger screens if needed
  @media (min-width: 768px) {
    margin-bottom: var(--spacing-md);
  }
}

// Decorative line
.decorativeLine {
  border-bottom: 0.08rem solid var(--color-border-primary);
  padding-bottom: 0.3em;
  transition: border-bottom-color var(--color-transition);
}

// Wrapper for alignment
.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm); // Use a variable for consistency
  justify-content: center; // Default to center for mobile
}

// Ensure icon and text are aligned vertically
.iconWrapper {
  display: flex;
  align-items: center;
}

.textWrapper {
  display: flex;
  align-items: center;
}

// Alignment utility classes to be dynamically applied
.textAlign--left {
  align-items: flex-start;
  .contentWrapper { justify-content: flex-start; }
  .textWrapper { text-align: left; }
}

.textAlign--center {
  align-items: center;
  .contentWrapper { justify-content: center; }
  .textWrapper { text-align: center; }
}

.textAlign--right {
  align-items: flex-end;
  .contentWrapper { justify-content: flex-end; }
  .textWrapper { text-align: right; }
}

// Font size definitions for mobile-first
// These are the base sizes for small screens
.h1 { font-size: var(--font-size-h2); }
.h2 { font-size: var(--font-size-xl); }
.h3 { font-size: var(--font-size-lg); }
.h4 { font-size: var(--font-size-base); }
.h5 { font-size: var(--font-size-sm); }
.h6 { font-size: var(--font-size-sm); }

// Scale up font sizes for larger screens
@media (min-width: 768px) {
  .h1 { font-size: var(--font-size-h1); }
  .h2 { font-size: var(--font-size-h2); }
  .h3 { font-size: var(--font-size-xl); }
  .h4 { font-size: var(--font-size-lg); }
}

// Additional font size utility classes for granular control
// Can be used with the `className` prop, e.g., <Heading className={styles.large} .../>
.small { font-size: var(--font-size-sm); }
.medium { font-size: var(--font-size-base); }
.large { font-size: var(--font-size-lg); }
.extra-large { font-size: var(--font-size-xl); }

