// src/components/Utilities/ErrorBoundaryPage/ErrorBoundaryPage.module.scss
@use 'styles/abstracts' as *;

.error-boundary-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  min-height: calc(100vh - var(--header-height)); 
  padding: var(--spacing-lg) var(--spacing-xs);
  background-color: var(--color-surface-base); 
  font-family: var(--font-family-primary); 
  color: var(--color-text-primary);
  width: 100%;

  @media (min-width: 375px) {
    padding: var(--spacing-lg) var(--spacing-sm); 
  }
}

.error-boundary-page__wrapper {
  width: 100%;
  max-width: 900px; 
  background: var(--color-surface-elevated);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-advanced); 
  overflow: hidden; 

  @media (min-width: 768px) {
    min-height: 400px; 
  }
}
.error-boundary-page__icon {
  width: 150px; 
  height: 150px; 
  display: block;
  fill: var(--color-error);
  margin-bottom: var(--spacing-md); 
}

.error-boundary-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  text-align: center; 
  padding: var(--spacing-lg);

  @media (min-width: 375px) {
     padding: var(--spacing-xl);
  }

  @media (min-width: 768px) {
    text-align: center; 
    align-items: center;
  }
  
  & > * {
    margin-bottom: var(--spacing-md);
  }
}

.error-boundary-page__title {
  color: var(--color-text-primary); 
  font-size: var(--font-size-xl); 
  line-height: 1.1; 

  @media (min-width: 375px) {
    font-size: var(--font-size-h1); 
  }
}

.error-boundary-page__message-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.error-boundary-page__message-icon {
  width: 1.5em;
  height: 1.5em;
  //The SVG is using currentColor, so we must set the `color` property.
  color: var(--color-warning);
  flex-shrink: 0;
}

.error-boundary-page__message {
  font-size: var(--font-size-base);
  color: var(--color-error);
  margin-bottom: 0;

  @media (min-width: 375px) {
    font-size: var(--font-size-lg);
  }
}

.error-boundary-page__message-text {
  font-style: italic;
}

.error-boundary-page__actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);

  @media (min-width: 768px) {
    flex-direction: row; 
    justify-content: center;
    margin-top: var(--spacing-lg);
  }
}
