//Skills.module.scss
@use 'styles/abstracts' as *;

.skillsPage {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-lg) var(--spacing-sm);

    @media (min-width: 768px) {
        padding: var(--spacing-lg);
    }
}