// src/layouts/Footer/Footer.module.scss
@use 'styles/abstracts' as *;

.footer {
    padding: var(--spacing-lg) var(--spacing-md);
    border-top: 1px solid var(--color-border-primary);
    transition: border-color var(--color-transition);
    font-family: var(--font-family-primary);
    margin-top: 5rem;

    @media (min-width: 768px) {
        padding: var(--spacing-xl) var(--spacing-lg);
    }

    &__container {
        display: grid;
        gap: var(--spacing-lg);
        justify-content: center;
        text-align: center;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            text-align: left;
            align-items: start;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            gap: var(--spacing-xl);
        }
    }

    &__copyright {
        text-align: center;
        margin-top: var(--spacing-lg);
        padding-top: var(--spacing-md);
        border-top: 1px solid var(--color-border-primary);
        transition: border-color var(--color-transition);

        @media (min-width: 768px) {
            grid-column: 1 / -1; // Span across all grid columns on larger screens
            margin-top: var(--spacing-xl);
        }
    }

    &__copyright-text {
        font-size: var(--font-size-sm);
        color: var(--color-text-secondary);
        margin: 0;
        transition: color var(--color-transition);
    }

    &__copyright-owner {
        font-weight: var(--font-weight-bold);
        color: var(--color-text-primary);
        transition: color var(--color-transition);
    }
}