// src/components/forms/FormField.module.scss
@use 'styles/abstracts' as *;

.form-field__group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.form-field__label {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
  display: block; 
}

.form-field__required-symbol {
  color: var(--color-brand-primary);
  margin-left: var(--spacing-xxs);
}

.form-field__input,
.form-field__textarea {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  background-color: var(--color-surface-base);
  color: var(--color-text-primary);
  transition: border-color var(--color-transition), box-shadow var(--color-transition);

  &:focus {
    outline: none;
    border-color: var(--color-brand-primary);
    box-shadow: 0 0 0 1px var(--color-brand-primary), var(--box-shadow-sm);
    border-radius: var(--border-radius-md);
  }
}

.form-field__textarea {
  resize: vertical;
  min-height: 120px;
}

/* Modifier for invalid inputs */
.form-field__input--invalid,
.form-field__textarea--invalid {
  border-color: var(--color-error);
  &:focus {
    box-shadow: 0 0 0 2px var(--color-error), var(--box-shadow-sm);
  }
}

.form-field__error-message {
  color: var(--color-error);
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-xxs);
}
